@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: Nista;
    src: url(fonts/nista-400.woff2) format("woff2"), url(../fonts/nista-400.woff) format("woff");
    font-weight: 400;
    font-style: normal
}

@font-face {
    font-family: Nista;
    src: url(fonts/nista-700.woff2) format("woff2"), url(../fonts/nista-700.woff) format("woff");
    font-weight: 700;
    font-style: normal
}

@font-face {
    font-family: Nista;
    src: url(fonts/nista-800.woff2) format("woff2"), url(../fonts/nista-800.woff) format("woff");
    font-weight: 800;
    font-style: normal
}

body {
    color: white;
    background-color: rgba(17, 24, 39, 1);
    font-family: Nista, Helvetica Neue, Helvetica, Arial, sans-serif;
}

.active-panel {
    background-color: rgb(55, 65, 81);
}