@tailwind base;
@tailwind components;
@tailwind utilities;


body {
    height: 100vh;
    color: white;
    background-color: rgb(15, 20, 31);
    font-family: Nista, Helvetica Neue, Helvetica, Arial, sans-serif;
    box-sizing: border-box;
}
